<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/D103_Rachel_Au_Assignment1_301264844/src/FishApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="FishApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="D103_Rachel_Au_Assignment1_301264844"/>
</launchConfiguration>
